In [1]:
import pandas as pd
import anndata as ad

from pronto import Ontology

## Load BioMart Export
Downloaded 5 September 2023 from BioMart Ensembl release 110 - July 2023

In [2]:
biomart = pd.read_csv('mart_export.txt')

In [3]:
biomart.shape

(60517, 3)

In [4]:
biomart.head()

,Gene stable ID,Gene description,Gene type
0,ENSG00000210049,mitochondrially encoded tRNA-Phe (UUU/C) [Sour...,Mt_tRNA
1,ENSG00000211459,mitochondrially encoded 12S rRNA [Source:HGNC ...,Mt_rRNA
2,ENSG00000210077,mitochondrially encoded tRNA-Val (GUN) [Source...,Mt_tRNA
3,ENSG00000210082,mitochondrially encoded 16S rRNA [Source:HGNC ...,Mt_rRNA
4,ENSG00000209082,mitochondrially encoded tRNA-Leu (UUA/G) 1 [So...,Mt_tRNA

In [6]:
biomart['Gene type'].value_counts()

protein_coding                        19966
lncRNA                                16780
processed_pseudogene                  10141
unprocessed_pseudogene                 2591
misc_RNA                               2220
snRNA                                  1910
miRNA                                  1877
TEC                                    1051
transcribed_unprocessed_pseudogene      956
snoRNA                                  942
transcribed_processed_pseudogene        510
rRNA_pseudogene                         496
IG_V_pseudogene                         187
transcribed_unitary_pseudogene          153
IG_V_gene                               145
TR_V_gene                               106
unitary_pseudogene                       97
TR_J_gene                                79
rRNA                                     53
scaRNA                                   49
IG_D_gene                                37
TR_V_pseudogene                          33
Mt_tRNA                                  22
artifact                                 19
pseudogene                               19
IG_J_gene                                18
IG_C_gene                                14
IG_C_pseudogene                           9
ribozyme                                  8
TR_C_gene                                 6
sRNA                                      5
TR_D_gene                                 4
TR_J_pseudogene                           4
IG_J_pseudogene                           3
Mt_rRNA                                   2
translated_processed_pseudogene           2
IG_pseudogene                             1
vault_RNA                                 1
scRNA                                     1
Name: Gene type, dtype: int64

Select Gene IDs where gene type is protein_coding

In [7]:
coding_only = biomart[biomart['Gene type'] == 'protein_coding']

In [8]:
coding_only['Gene type'].value_counts()

protein_coding    19966
Name: Gene type, dtype: int64

In [9]:
coding_only['Gene stable ID']

5        ENSG00000198888
9        ENSG00000198763
15       ENSG00000198804
18       ENSG00000198712
20       ENSG00000228253
              ...
60505    ENSG00000116138
60508    ENSG00000116771
60513    ENSG00000197312
60514    ENSG00000215695
60516    ENSG00000116786
Name: Gene stable ID, Length: 19966, dtype: object

## Load data file and filter for protein coding genes

In [10]:
adata = ad.read_h5ad('leaf_list_leukocyte_24Aug')

In [11]:
adata.var

       soma_joinid       feature_id   feature_name  feature_length
0                0  ENSG00000121410           A1BG            3999
1                1  ENSG00000268895       A1BG-AS1            3374
2                2  ENSG00000148584           A1CF            9603
3                3  ENSG00000175899            A2M            6318
4                4  ENSG00000245105        A2M-AS1            2948
...            ...              ...            ...             ...
60659        60659  ENSG00000288719  RP4-669P10.21            4252
60660        60660  ENSG00000288720  RP11-852E15.3            7007
60661        60661  ENSG00000288721   RP5-973N23.5            7765
60662        60662  ENSG00000288723  RP11-553N16.6            1015
60663        60663  ENSG00000288724   RP13-546I2.2             625

[60664 rows x 4 columns]